# SERVER CONFIGURATION
NUXT_NITRO_PRESET=node-server # node-server or cloudflare-module
NUXT_CF_HYPERDRIVE_ID=cloudflare-hyperdrive-id #  Required when using cloudflare-module

NUXT_APP_URL=http://localhost:3000 # Base URL of your app
NUXT_APP_NAME=NuxSaaS
NUXT_APP_REPO=https://github.com/NuxSaaS/NuxSaaS

### AUTH CONFIGURATION
# Secret key for JWT
NUXT_BETTER_AUTH_SECRET=your-better-auth-secret

#TODO: remove
NUXT_GH_CLIENT_ID=your-github-client-id
NUXT_GH_CLIENT_SECRET=your-github-client-secret

NUXT_GOOGLE_CLIENT_ID=your-google-client-id
NUXT_GOOGLE_CLIENT_SECRET=your-google-client-secret

### DATABASE CONFIGURATION
# Database URL for PostgreSQL
NUXT_DATABASE_URL=postgres://postgres:@localhost:5432/dbname

# Redis configuration
# Enable Redis for caching and session management
NUXT_REDIS_ENABLED=false 
NUXT_REDIS_URL=redis://localhost:6379

### EMAIL CONFIGURATION
# Resend API key for sending emails
NUXT_RESEND_API_KEY=your-resend-api-key
NUXT_APP_NOTIFY_EMAIL="noreply@domain.com"
NUXT_APP_CONTACT_EMAIL="contact@domain.com"

### STRIPE CONFIGURATION
# Enable Stripe for payment processing
NUXT_STRIPE_ENABLED=false
NUXT_STRIPE_SECRET_KEY=your-stripe-secret-key
NUXT_STRIPE_WEBHOOK_SECRET=your-stripe-webhook-key
NUXT_STRIPE_PRICE_ID_PRO_MONTH=your-stripe-price-id-pro-month
NUXT_STRIPE_PRICE_ID_PRO_YEAR=your-stripe-price-id-pro-year

# For testing
NUXT_TEST_APP_URL=http://localhost:3000 # App URL for e2e test
NUXT_TEST_EMAIL=test@nuxsaas.com
NUXT_TEST_PASSWORD=test-password
NUXT_ADMIN_EMAIL=admin@nuxsaas.com
NUXT_ADMIN_PASSWORD=admin-password